BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
BreakStringLiterals: false

---
Language: Cpp
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
BreakBeforeBraces: Linux

---
Language: Java
ColumnLimit: 120
